@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


body {
    margin: 0;
    background: #000;
  }
  
  hr {
    border-color: red;
    border-width: 2px;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 30%;
  }
  
  .vid1,
  #vid2 {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
  }
  

  
  .stopfade {
    opacity: .5;
  }
  
  #polina {
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight: 100;
    color: white;
    padding: 2rem;
    width: 33%;
    margin: 2rem;
    display: block;
    font-size: 1.2rem;
    margin: 0px auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    text-transform: camelcase;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: .3rem;
  }
  
  #polina button {
    display: block;
    width: 80%;
    padding: .4rem;
    border: none;
    margin: 1rem auto;
    font-size: 1.3rem;
    background: rgba(255, 255, 255, 0.23);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s background;
  }
  
  #polina button:hover {
    background: rgba(0, 0, 0, 0.5);
  }
  
  
 
  
  @media screen and (max-width: 500px) {
    #polina {
      width: 70%;
    }
  }
  
  @media screen and (max-device-width: 800px) {
    html {
      background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
      display: none;
    }
  }

#navbar {
    background-color: #00000000;  /* Change this to your desired color */
   
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
  }
  .login-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 70px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  

  
  .box{
    box-shadow: 0px 5px 10px 0px rgba(93, 92, 92, 0.5); 
  } 
  .boxs{
    box-shadow: -10px -10px 15px rgba(0, 0, 0, 0.5),
    10px 10px 15px rgba(1, 1, 1, 0.12);
  }
  .boxs:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(113, 20, 113, 0.7);
  }
  .box:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(112, 23, 100, 0.7);
  }

  

  .radio-input input {
    display: none;
  }
  
  .radio-input {
    display: flex;
    flex-direction: column;
    padding: 12px;
    background: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 87px 78px -39px rgba(0,0,0,0.4);
    width: 320px;
  }
  
  .info {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .question {
    color: rgb(49, 49, 49);
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 800;
  }
  
  .steps {
    background-color: rgb(0, 0, 0);
    padding: 4px;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
  }
  
  .radio-input  label {
    display: flex;
    background-color: #fff;
    padding: 14px;
    margin: 8px 0 0 0;
    font-size: 13px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgba(187, 187, 187, 0.164);
    color: #000;
    transition: .3s ease;
  }
  
  .radio-input  label:hover {
    background-color: rgba(24, 24, 24, 0.13);
    border: 1px solid #bbb;
  }
  
  .result {
    margin-top: 10px;
    font-weight: 600;
    font-size: 12px;
    display: none;
    transition: display .4s ease;
  }
  
  .result.success {
    color: green;
  }
  
  .result.error {
    color: red;
  }
  
  .radio-input input[type="radio"]:checked+label {
    background-color: #e9dada;
    font-weight: bold;
}


.results-summary-container {
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  width: 320px;
  border-radius: 30px;
  box-shadow: 10px 20px 20px rgba(120, 87, 255, 0.3);
  backface-visibility: hidden;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.heading-primary {
  font-size: 36px;
  font-weight: 600;
  background-image: linear-gradient(to right, #f7bb97, #dd5e89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.6);
}

.heading-secondary {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  letter-spacing: 2px;
}

.heading-tertiary {
  font-size: 20px;
  font-weight: 500;
  color: hsl(221, 100%, 96%);
}

.paragraph {
  font-size: 17px;
  line-height: 1.4;
  color: hsl(221, 100%, 96%);
}

.paragraph-text-box {
  width: 100%;
}

.text-center {
  text-align: center;
}

.margin-1 {
  margin-bottom: 10px;
}

.results-summary-container__result {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, #734b6d, #42275a);
  animation: gradient 9s infinite alternate linear;
  .result-box {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-image: linear-gradient(-45deg, #ef629f, #42275a);
  background-color: #56ab2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: gradient 9s linear infinite;
}

.result {
  margin-top: -8px;
  font-size: 16px;
  font-weight: 400;
  color: hsl(241, 100%, 89%);
}
}

.btn {
  width: 240px;
  padding: 10px;
  color: #ffffff;
  background-image: linear-gradient(to right, #aa076b, #61045f);
  border: none;
  border-radius: 100px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  cursor: pointer;
  margin: 20px 0 2px 0;
  transition: all 0.3s;
}

.btn:hover {
  transform: translateY(5px);
  background-image: linear-gradient(to left, #aa076b, #61045f);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
    background-image: linear-gradient(-45deg, #ef629f, #42275a);
  }

  50% {
    background-position: 100% 50%;
    background-image: linear-gradient(to bottom, #aa076b, #61045f);
  }

  100% {
    background-position: 0% 50%;
    background-image: linear-gradient(to top, #ef629f, #42275a);
  }
}

.confetti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 300px;
  height: 60%;
  overflow: hidden;
  z-index: 1000;
}

.confetti-piece {
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: hsl(39, 100%, 56%);
  top: 0;
  opacity: 0;
  animation: makeItRain 3000ms infinite linear;
}

.confetti-piece:nth-child(1) {
  left: 7%;
  transform: rotate(-10deg);
  animation-delay: 182ms;
  animation-duration: 2000ms;
}

.confetti-piece:nth-child(2) {
  left: 14%;
  transform: rotate(20deg);
  animation-delay: 161ms;
  animation-duration: 2076ms;
}

.confetti-piece:nth-child(3) {
  left: 21%;
  transform: rotate(-51deg);
  animation-delay: 481ms;
  animation-duration: 2103ms;
}

.confetti-piece:nth-child(4) {
  left: 28%;
  transform: rotate(61deg);
  animation-delay: 334ms;
  animation-duration: 1008ms;
}

.confetti-piece:nth-child(5) {
  left: 35%;
  transform: rotate(-52deg);
  animation-delay: 302ms;
  animation-duration: 1776ms;
}

.confetti-piece:nth-child(6) {
  left: 42%;
  transform: rotate(38deg);
  animation-delay: 180ms;
  animation-duration: 1168ms;
}

.confetti-piece:nth-child(7) {
  left: 49%;
  transform: rotate(11deg);
  animation-delay: 395ms;
  animation-duration: 1200ms;
}

.confetti-piece:nth-child(8) {
  left: 56%;
  transform: rotate(49deg);
  animation-delay: 14ms;
  animation-duration: 1887ms;
}

.confetti-piece:nth-child(9) {
  left: 63%;
  transform: rotate(-72deg);
  animation-delay: 149ms;
  animation-duration: 1805ms;
}

.confetti-piece:nth-child(10) {
  left: 70%;
  transform: rotate(10deg);
  animation-delay: 351ms;
  animation-duration: 2059ms;
}

.confetti-piece:nth-child(11) {
  left: 77%;
  transform: rotate(4deg);
  animation-delay: 307ms;
  animation-duration: 1132ms;
}

.confetti-piece:nth-child(12) {
  left: 84%;
  transform: rotate(42deg);
  animation-delay: 464ms;
  animation-duration: 1776ms;
}

.confetti-piece:nth-child(13) {
  left: 91%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 1818ms;
}

.confetti-piece:nth-child(14) {
  left: 94%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 818ms;
}

.confetti-piece:nth-child(15) {
  left: 96%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 2818ms;
}

.confetti-piece:nth-child(16) {
  left: 98%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 2818ms;
}

.confetti-piece:nth-child(17) {
  left: 50%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 2818ms;
}

.confetti-piece:nth-child(18) {
  left: 60%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 1818ms;
}

.confetti-piece:nth-child(odd) {
  background-color: hsl(0, 100%, 67%);
}

.confetti-piece:nth-child(even) {
  z-index: 1;
}

.confetti-piece:nth-child(4n) {
  width: 6px;
  height: 14px;
  animation-duration: 4000ms;
  background-color: #c33764;
}

.confetti-piece:nth-child(5n) {
  width: 3px;
  height: 10px;
  animation-duration: 4000ms;
  background-color: #b06ab3;
}

.confetti-piece:nth-child(3n) {
  width: 4px;
  height: 12px;
  animation-duration: 2500ms;
  animation-delay: 3000ms;
  background-color: #dd2476;
}

.confetti-piece:nth-child(3n-7) {
  background-color: hsl(166, 100%, 37%);
}


.card {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #0f0f0f;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #04040480;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__image {
  width: 100%; /* Make the image width 100% of its container */
  height: auto; /* Maintain the aspect ratio */
  object-fit: cover; /* Scale the image proportionally to cover the container */
  position: absolute; /* Position the image */
  top: 0;
  left: 0;
   /* Place the image behind the content */
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(241, 231, 231, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  background-color: #eeeaea;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}




.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}


@keyframes makeItRain {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: translateY(250px);
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  overflow: auto;
  backdrop-filter: blur(5px);
}


.popup-content {
  background-color: #000000;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  position: relative;
  
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.ok-button {
  background-color: #621a54;
  color: #ede6ed;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.ok-button:hover {
  background-color: #be3ebe;
}